/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    background:#fff none repeat scroll 0 0;
    font-family: 'Poppins', sans-serif;
    color: #787878;
    font-weight: 400;
    overflow-x: hidden;
}
html {
  position: relative;
  min-height: 100%;
}
li,ul{
    list-style: none;
    margin : 0px;
    padding: 0px;
}
a{
    outline: none !important;
    text-decoration: none !important;
}
input{
    outline: none !important;
    text-decoration: none !important;
}
i{
    vertical-align: middle;
}
/* all */
::-webkit-input-placeholder { color:#646464 !important; }
::-moz-placeholder { color:#646464 !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#646464 !important; } /* ie */
input:-moz-placeholder { color:#646464 !important; }
button,label,a{
    outline: none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/*To Stop Sceen Rotation*/

*{
    -webkit-overflow-scrolling: touch;
}
* {
  box-sizing: border-box;
}

.headerTop{
    background: #97c42e;
    padding: 5px 0px;
}
.headerTop span {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}
.headerTop a {
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 15px;
    border-radius: 15px;
    margin-left: 5px;
}

a.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    color: #393939;
}

li.nav-item {
    margin: 0rem 1.5rem;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
a.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s;
}
a.nav-link:hover {
    transition: all 0.3s;
}
li.nav-item {
    margin: 0rem 0.8rem;
}
.nav-link {
    display: block;
    padding: 1rem 1rem;
}

.dropdown-toggle::after{
    display: none;
}
.bannerWrap{
    position: relative;
}
header.headerWrap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    color: #000;
}
.nav-link {
    color: #000;
}
.productAction a {
    color: #000;
    font-size: 22px;
    margin-left: 10px;
    transition: all 0.3s;
}
.productAction a span {
    display: inline-flex;
    background: #a1a1a1;
    font-size: 11px;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    margin-left: 5px;
    position: relative;
    top: -2px;
    transition: all 0.3s;
}
.productAction a.active span,
.productAction a:hover span {
    background: #f46e49;
    transition: all 0.3s;
}
.bannerText {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
}
.bannerInfo h2 {
    font-size: 3rem;
    color: #000;
}
.bannerInfo p {
    font-size: 1.5rem;
    color: #000;
    font-weight: 200;
}
.bannerInfo a {
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 7px 35px;
    border-radius: 31px;
    text-transform: uppercase;
    margin-top: 15px;
}

.bannerInfo a, 
.headerTop a , 
.welcomeInfo a, 
.productContent a,
.allReview a,
.bInfo > a,
.showAllRevewBtn a,
.cartCount  a,
.rA  a{
  overflow: hidden;
  position: relative;
  
}
.welcomeInfo img {
    position: relative;
    top: -18px;
}
.bannerInfo a:hover, 
.headerTop a:hover , 
.welcomeInfo a:hover, 
.productContent a:hover,
.allReview a:hover,
.bInfo > a:hover {
    color: #fff;
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  animation: ripple-animation 2s;
}
@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}



.trulyItem {
    background: #ededed;
    padding: 15px;
    text-align: center;
    color: #333333;
}
.trulyItem h3 {
    font-size: 1.5rem;
    color: #005dab;
}
.trulyItem h4 {
    font-size: 1.7rem;
    color: #3ec300;
    font-weight: 800;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
    margin-top: -10px;
}
.trulyItem p {
    font-size: 0.8rem;
}
.trulyItem {
    background: #ededed;
    padding: 15px;
    text-align: center;
    color: #333333;
    min-height: 200px;
    overflow: hidden;
}

.trulyItemContent {
    background:#ffffffd9;
    min-height: 180px;
    padding: 10px;
    transition: all 0.3s;
}
.trulyItem:hover .trulyItemContent {
    background: #fff;
    transition: all 0.3s;
}
.trulyItemContent img {
    position: absolute;
    left: 15px;
    bottom: 12px;
    width: 211px;
}
.trulyItem2{
    background: #ededed url('../images/img02.png');
    background-size: cover;
}
.trulyItem3{
    background: #ededed url('../images/img03.png');
    background-size: cover;
}
.trulyItem4{
    background: #ededed url('../images/img04.png');
    background-size: cover;
}
.heading h3 {
    font-size: 2rem;
    color: #003399;
}
.productContent h3 {
    color: #666666;
    font-size: 1rem;
    position: relative;
}
.imgContent {
    width: 100%;
    height: 260px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.imgContent::before {
     box-shadow: inset 0px 0px 30px #1678c038;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.productContent h3::after {
    content: '';
    position: absolute;
    left: 50%;
    display: inline-block;
    height: 1em;
    max-width: 50%;
    margin: 0 auto;
    width: 100%;
    margin-left: -25%;
    border-bottom: 2px solid #00aeef;
    margin-top: 15px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}
.productContent:hover  h3::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.productContent:hover .imgContent {
    box-shadow: inset 0px 0px 30px #1678c075;
    box-shadow: 0px 0px 30px #1678c038;
    transition: all 0.3s;

}
.productContent:hover .imgContent {
    box-shadow: 0px 0px 15px #a5a5a55c;
    border: 1px solid #fff;
    transition: all 0.3s;
}
.welcomeKit{
    background: #ededed url('../images/fixd-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 70px;
}
.welcomeKit .container-fluid {
    background: rgb(255 255 255 / 70%);
    padding: 50px 15px;
}
.welcomeInfo h3 {
    color: #2289c9;
}
.welcomeInfo p {
    color: #000;
    margin: 20px 0px 30px;
}
.welcomeInfo a {
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 7px 25px;
    border-radius: 31px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 15px;
}
.welcomeInfo {
    margin-top: 22px;
}
.productContent p {
    margin-bottom: 0px;
    font-size: 0.9rem;
}
.productContent span {
    color: #0093ff;
    display: block;
}
.productContent a {
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 15px;
    border-radius: 15px;
    margin-top: 3px;
}
.pAction {
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.pAction a {
    padding: 3px;
    border-radius: 0;
    color: #b7b7b7;
    font-size: 1.2rem;
    display: inline-block;
    width: 45px;
    background: #fff;
    z-index: 99;
    margin: 0px -2px;
    box-shadow: 0px 0px 3px #929292a3;
    transition: all 0.3s;
}
.pAction a:hover {
    color: #fff;
    background: #f46e49;
    transition: all 0.3s;
}
.productContent:hover .pAction {
    bottom: 15px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.reviewWrap {
    background: #ededed url(../images/reviewBg.jpg);
    background-size: cover;
    padding: 60px 0px;
    background-position: center;
}
section.reviewWrap h3 {
    margin-bottom: 50px;
    color: #333333;
    margin-top: 20px;
}
.allReview a {
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 7px 25px;
    border-radius: 31px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 15px;
}
.reviewContent {
    width: 570px;
    background: #fff;
    padding: 35px;
    position: relative;
    margin-bottom: 50px;
    margin-left: -100px;
    margin-top: 40px;
}
.reviewContent h4, .reviewContent h5 {
    font-size: 16px;
    color: #000;
}
.reviewContent h5 {
    margin: 15px 0px;
}
.reviewContent h4 span{
    font-size: 14px;
    color: #cccccc;
    font-weight: 300;
}
.reviewContent h5 span {
    color: #70b907;
    font-size: 15px;
}
.reviewContent p {
    font-size: 14px;
    color: #666666;
    margin: 0;
}
.reviewContent p a {
    color: #0099cc;
    display: inline-block;
    margin-top: 5px;
}
.reviewContent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 60px;
    height: 60px;
    background: #fff;
}
.reviewContent::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -60px;
    width: 60px;
    height: 60px;
    background: #920500;
    border-radius: 69px 0px 0px 0px;
    z-index: 1;
}
.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
.slick-dots {
    bottom: -75px !important;
}
.slick-dots button::before {
    width: 10px !important;
    height: 10px !important;
    opacity: 1 !important;
    background: #cccccc;
    border-radius: 50%;
    content: '' !important;
}
.slick-dots li {
    margin: 0 0px !important;
}
.slick-dots li.slick-active button::before{
    background: #f46e49;
}

.blogWrap{
    background: #ededed url(../images/blogBg.jpg);
    background-size: cover;
    padding: 50px 0px;
    background-position: center;
}
.blogContent {
    background: #fff;
    box-shadow: 0px 0px 3px #cccccc4a;
}
.bInfo {
    padding: 20px 20px;
}
section.blogWrap h3 {
    color: #666666;
    font-size: 1.25rem;
}
section.blogWrap h2 {
    font-size: 2.25rem;
    color: #003399;
    margin-bottom: 50px;
}
.bInfo > a{
    display: inline-block;
    background: #2289c9;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 4px 15px;
    border-radius: 15px;
    margin-top: 3px;
}
.blogContent p {
    font-size: 14px;
    color: #000;
}
.bInfo h3 a {
    color: #2289c9;
    font-size: 18px;
    margin: 10px 0px;
    display: inline-block;
}
.bInfo > span {
    color: #666666;
    font-size: 12px;
}
.newletterWrap{
    background:#333333 url('../images/nbg.png') right 240px no-repeat;
    padding: 60px 0px;
}
.newletterWrap h4{
    font-size: 18px;
    color: #97c42e;
    margin: 0;
}
.newletterWrap h2{
    color: #fff;
}
.newletterWrap p{
    color: #fff;
    margin-bottom: 40px;
    font-weight: 300;
}
.newletterWrap button.btn.btn-block {
    border: 1px solid #97c42e;
    border-radius: 0;
    color: #fff;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}
.newletterWrap .form-control {
    background: transparent;
    height: 50px;
    border-radius: 0;
    font-style: italic;
    color: #fff;
    border-color: #646464;
    font-weight: 300;
    font-size: 15px;
    outline: none !important;
    box-shadow: none !important;
}

footer{
    background: #ffede5 ;
    padding-top: 50px;
}
.footerBottom p {
    margin: 0;
    border-top: 1px solid #cccccc85;
    padding: 18px 0px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 50px;
}
.link li a {
    color: #666666;
    font-size: 1rem;
    margin-bottom: 7px;
    display: inline-block;
}
.social {
    margin-top: 20px;
}
.social a{
    display: inline-block;
    margin-right: 15px;
}
.siteInfoImg {
    margin-right: 30px;
}
.siteInfoItem p {
    color: #666666;
    font-size: 12px;
}
.siteInfoItem h4 {
    font-size: 1rem;
    margin-bottom: 25px;
}
.siteInfoItem img {
    filter: grayscale(1);
    opacity: 0.6;
}

.innerBannerText {
    position: absolute;
    width: 100%;
    top: 105px;
    left: 0;
}
.innerPageHeading h2 {
    font-size: 3rem;
    color: #000;
    margin: 0;
}
.filter a i {
    background: #f46e49;
    color: #fff;
    font-size: 19px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: 5px;
}
.filter a {
    font-weight: 500;
    color: #009bde ;
}
.filter button{
    border-color: #cacaca !important;
    font-weight: 300;
}
.filter button i {
    color: #909090;
    font-size: 24px;
}
.dropdown-menu a{
    font-weight: 300;
}
header.headerWrap.detailsHeader {
    position: unset;
    background: #fff;
    box-shadow: 0px 0px 4px #ccc;
}
.breadcrumb li.breadcrumb-item {
    font-size: 12px;
}
.imgSlider .carousel-indicators {
    position: unset;
    margin: 0;
    flex-wrap: wrap;
    width: 85px;
    margin-right: 1rem;
}
.imgSlider .carousel-indicators li {
    border: 1px solid #dcdcdc !important;
    width: 84px;
    height: 74px;
    text-indent: 0;
    border-bottom: 0;
    margin-bottom: 1rem;
    padding: 5px;
}
.imgSlider .carousel-indicators li img {
    width: 84px;
    height: 74px;
    object-fit: contain;
}
.imgSlider .carousel-item {
    background: #fafafa;
    min-height: 493px;
    text-align: center;
    padding: 125px 0px;
}
.productDes .nav-tabs .nav-link:focus, 
.productDes .nav-tabs .nav-link:hover,
.productDes .nav-tabs .nav-item.show .nav-link, 
.productDes .nav-tabs .nav-link.active {
    color: #000000;
    background-color: #cfe7eb;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 0;
    text-transform: capitalize;
}
.productDes .nav-tabs .nav-link {
    text-transform: capitalize;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}
.productDes .tab-pane p {
    font-size: 14px;
}

.product_like span.unfavourited{
    background: url(../images/like_border.svg) no-repeat;
}
.product_like span.unfavourited:hover {
    background: url(../images/like_fill.svg) no-repeat;
}
.product_like span.favourited {
    background: url(../images/like_fill.svg) no-repeat;
}
.product_like span {
    display: block;
    background-size: 20px !important;
    width: 20px;
    height: 20px;
}
.product_like {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    height: 42px;
    width: 42px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}
.productDescription {
    padding-left: 25px;
}
.productDescription h2 {
    font-size: 1.7rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}
.review{
   font-size: 12px;
   color: #000; 
}
.review span {
    color: #70b907;
    font-size: 12px;
}
.review a {
    color: #f46e49;
    text-decoration: underline !important;
}
.review {
    font-size: 12px;
    color: #000;
    margin-bottom: 15px;
}
.price b {
    display: inline-block;
    font-size: 24px;
    color: #2289c9;
    margin-right: 5px;
}
.price span {
    font-style: italic;
    color: #9edaff;
    text-decoration: line-through;
}
p.des {
    font-size: 0.8rem;
    color: #666666;
    margin: 1rem 0px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f46e49;
    background-color: #f46e49;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-control.custom-radio {
    font-size: 14px;
    color: #585656;
    margin-bottom: 1rem;
}
.custom-control.custom-radio span {
    font-style: italic;
    color: #f46e49;
}
.buyerType a {
    font-style: italic;
    font-weight: 300;
    text-decoration: underline !important;
    color: #70b907;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
}
.pc span {
    display: block;
    font-size: 12px;
    color: #666666;
}
.pc span i {
    color: #f46e49;
    font-style: normal;
}
.cartCount {
    margin: 35px 0px 35px;
}
.count {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input.countval {
    border: none;
    width: 10px;
    color: #666666;
}
.cartCount a {
    display: block;
    text-align: center;
    background: #70b907;
    color: #fff;
    padding: 7px 0px;
}
.cartCount a:hover {
    background: #5e9a08;
}
section.reviewHolder h2 {
    color: #2289c9;
    font-size: 1.5rem;
}
section.reviewHolder h2 span {
    font-size: 0.9rem;
    font-weight: normal;
    font-style: italic;
    color: #f46e49;
}
.rCount {
    display: flex;
    width: 300px;
    font-size: 10px;
    align-items: center;
}
.rCount span {
    color: #70b907;
    font-size: 12px;
}
.rCount .progress {
    width: 35%;
    height: 9px;
    border-radius: 0;
    margin-left: 5px;
}
.rCount b {
    font-weight: normal;
    width: 20px;
    margin-left: 5px;
}
.rA a {
    display: inline-block;
    width: 150px;
    background: #cfe7eb;
    text-align: center;
    margin-top: 5px;
    padding: 9px 5px;
}
.multiReview li.nav-item a {
    color: #000;
}
.multiReview li.nav-item a.active {
    color: #2289c9;
    text-decoration: underline !important;
}
.multiReview ul.nav-tabs {
    padding-bottom: 10px;
    border-bottom-color: #ccc;
}
.reviewShow {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}
.rUserImg span {
    background: #2289c9;
    font-size: 2rem;
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    border-radius: 50%;
}
.rUserImg{
    margin-right: 15px;
    position: relative;
}
.rUserImg i.fas.fa-check-circle {
    position: absolute;
    top: 31px;
    right: -2px;
    color: #70b907;
    background: #fff;
    border-radius: 15px;
    border: 2px solid #fff;
}
.rUserDetails h4 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #696969;
    font-weight: 500;
}
.rUserDetails h4 i {
    color: #9a9a9a;
    font-style: normal;
    font-weight: 400;
}
span.rIcon {
    color: #70b907;
    font-size: 13px;
}
.rUserReviewDetails strong {
    font-weight: 600;
    font-size: 14px;
}
.rUserReviewDetails p {
    font-size: 13px;
}
.rUserReviewDetails p a {
    color: #313131;
}
.rComment a {
    font-size: 14px;
    color: #313131;
}
.ownerPart .rUserImg i.fas.fa-check-circle {
    color: #f46e49;
}
.ownerPart {
    margin: 30px 30px;
    padding: 20px 0px 0px 20px;
    border-left: 2px solid #70b907;
}
.showAllRevewBtn a {
    background: #f46e49;
    color: #fff;
    padding: 10px 25px;
    display: inline-block;
}
.reviewForm,.questionForm {
    background: #fff;
    box-shadow: 0px 0px 7px #cccccc8c;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0px;
}
.reviewForm h3,
.questionForm h3 {
    font-size: 1.3rem;
    border-bottom: 1px solid #cccccc54;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #005aa9;
}
.form-control {
    font-size: 14px;
    height: 45px;
    border: 1px solid #cccccc94;
    outline: none !important;
    box-shadow: none !important;
}
.reviewForm button.btn,
.questionForm button.btn {
    background: #2289c9;
    color: #fff !important;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 32px;
    outline: none !important;
    box-shadow: none !important;
}
.innerBnner {
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 5px #86868661;
}
.mainBlogWrap{
    background: #f7f8f8 url('../images/blogRight.png');
    padding: 50px 0px;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}
.firstBlogPart img {
    padding: 10px;
    background: #fff;
}
.firstBlogPart .blogContent {
    padding: 30px;
}
.firstBlogPart .blogContent i {
    display: block;
    color: #fbc1ad;
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 14px;
}
.firstBlogPart .blogContent h3 {
    font-size: 1.5rem;
    color: #2289c9;
    margin-bottom: 20px;
}
.firstBlogPart .blogContent p {
    margin: 0;
    color: #666666;
}
.firstBlogPart .blogContent p a {
    color: #f46e49;
    text-decoration: underline !important;
}
.allBlog .bInfo h3 a {
    font-size: 16px;
}
.allBlog .blogContent p {
    font-size: 11px;
}
.allBlog .bInfo > a {
    background: transparent;
    color: #f46e49;
    border: 1px solid #ccc;
}
.devResult h3 {
    color: #2289c9;
    width: 320px;
    margin: 0 auto;
    border-bottom: 2px solid #2289c9;
    padding-bottom: 10px;
    margin-bottom: 65px;
    font-size: 1.4rem;
    margin-top: 35px;
}
.devResult p {
    font-size: 15px;
    padding: 0px 35px;
    margin: 50px 0px;
}
.devResult p a {
    text-decoration: underline !important;
}

.author {
    margin-bottom: 10px;
    color: #666666;
}
.author strong {
    color: #2289c9;
    font-weight: 600;
}
.sInfo i {
    font-size: 15px;
    color: #f46e49;
    display: block;
    margin: 30px 0px;
    position: relative;
}
.sInfo p {
    font-size: 14px;
    margin-bottom: 24px;
}
.sInfo p span {
    color: #f46e49;
}
.sInfo i::before {
    position: absolute;
    content: '"';
    top: -24px;
    font-size: 52px;
    font-family: initial;
    left: 0px;
    transform: rotate(-16deg);
}
.sInfo i::after {
    position: absolute;
    content: '"';
    bottom: -33px;
    font-size: 52px;
    font-family: initial;
    right: -8px;
    transform: rotate(6deg);
}
.allBlog .bInfo > a:hover{
    background: #2289c9;
    color: #fff;
}

